/*===========================*/
/*Basic setup*/
/*===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: white;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/*===========================*/
/*Reusable Components*/
/*===========================*/
.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
/*heading*/

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 200px;
  margin: 25px auto 0 auto;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 15px;
}

/*------------Paragraphs--------------*/

.longcopy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}
/*------------icons--------------*/
ion-icon {
  color: #e67e22;
  display: block;
  font-size: 300%;
  margin-bottom: 10px;
}
/*------------buttons--------------*/

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, color 0.5s;
}
.btn_full:link,
.btn_full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn_ghost:link,
.btn_ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}
.btn_ghost:hover,
.btn_ghost:active {
  border: 1px solid #cf6d17;
  color: #ffffff;
}

/*===========================*/
/*Header*/
/*===========================*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.76)),
    url(./img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.herotextbox {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main_nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main_nav li {
  display: inline-block;
  margin-left: 40px;
}
.main_nav li a:link,
.main_nav li a:visited {
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.main_nav li a:hover,
.main_nav li a:active {
  color: #e67e22;
}

/*===========================*/
/*Features*/
/*===========================*/
.section_feature .longcopy {
  margin-bottom: 30px;
}

/*===========================*/
/*Meals*/
/*===========================*/
.section_meals {
  padding: 0;
}
.mealshowcase {
  list-style: none;
  width: 100%;
}
.mealshowcase li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
  transform: scale(1);
  opacity: 1;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.dumb {
  padding-bottom: 0;
}

/*===========================*/
/*how it works*/
/*===========================*/
.section-steps {
  background-color: #f4f4f4;
  margin-top: 0;
}
.step-boxes:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.step-boxes:last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
  height: auto;
}
.works-step {
  margin-bottom: 50px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-weight: 300;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 100px;
  width: auto;
}
.box img {
  width: 110%;
  height: auto;
  margin-bottom: 15px;
}
.city-detail {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 120%;
}
.city-detail ion-icon {
  font-size: 130%;
  display: inline-block;
  text-align: center;
  color: #e67e22;
  width: 30px;
  vertical-align: middle;
  margin-top: -2px;
}
.box h3 {
  font-weight: 400;
}
.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.76)),
    url(./img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.plans {
  background-color: #f4f4f4;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px rgb(219, 219, 219);
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: linear-gradient(#ffe3ca, #fff);
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  font-size: 25%;
  font-weight: 300;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-box ul {
  list-style: none;
}
.plan-box ul li {
  padding: 5px 0;
}

/*----------------------*/
/*    Contact Form      */
/*----------------------*/

.contact-form {
  width: 60%;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}
input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}
*:focus {
  outline: none;
}

/*----------------------*/
/*    Footer            */
/*----------------------*/

footer {
  background-color: rgb(75, 75, 75);
  padding: 20px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ccc;
}
footer p {
  color: #888;
  text-align: center;
  font-size: 70%;
}
.social-links ul li a ion-icon {
  font-size: 30px;
}
